#footer {
    background-color: black;
}

#marginFooter {
    margin-top: 50px;
    margin-bottom: 150px;
}

.textoFooter {
    color: #AC9242;
}

/*#marginLogo{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 200px;
    height: 200px;
}*/
