#containerReserve {
    background-image: url("http://localhost/OROGOLD/public/assets/img/bg-principal.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;;
    background-color: black;
    height: 500px;
}