#containerReserve {
    background-image: url("http://localhost/OROGOLD/public/assets/img/bg-principal.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
    height: 500px;
}

.imagCard {
    border-radius: 50%;
    height: 180px;
}

.textBody {
    text-align: center;
    color: #AC9242;
}

.textBodyHr {
    color: #AC9242;
}

.textTitleHr {
    font-size: 90px;
    color: #AC9242;
}

#titleHR {
    height: 130px;
}

#containerTreatment {
    margin-left: 100px;
    height: 500px;
}

#containerAbout {
    height: 600px;
}

#containerMap, #nowImag, #imgNow {
    height: 500px;
}

#containerNow {
    height: 800px;
}

#aboutImag {
    background-image: url("http://localhost/OROGOLD/public/assets/img/photo-1520473378652-85d9c4aee6cf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    height: 400px;
}
#aboutImag:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
}

#aboutCarousel {
    height: 200px;
}

#titleAbout {
    text-align: center;
    color: #FF9900;
}

#contentAbout {
    margin-top: 80px;
}

.imgCarousel {
    width: 10px;
    height: 200px;
}

#btnAppointment, #btnAppointmentNow {
    background-color: #AC9242;
    color: white;
}

.textAbout {
    color: white;
}

.card {
    border: none;
}

.efectImag:hover {
    filter: saturate(180%);
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
.efectCard {
    overflow:hidden;
}

#map {
    height: 100%;
}